!!!  
%html  
  %head
    %title Ruby on Rails Developer
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %meta{:content => "web developer, programmer, freelance, freelancer, ruby on rails, php, rails, ruby, independent, autonomous, xhtml, java, css, javascript, jquery, ecuador, south america, experience", :name => "keywords"}
    %meta{:content => "Freelance Web Developer Ruby on Rails, Javascript XHTML CSS Layout. Web application programmer independent or autonomous", :name => "description"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    /[if lte IE 9] <link rel="stylesheet" href="cssgrid/css/ie.css" type="text/css" media="screen" />
    %link{:href => "cssgrid/css/1140.css", :media  => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:charset => "utf-8", :href => "stylesheets/style.css", :media => "screen, protection", :rel => "stylesheet", :title => "no title", :type => "text/css"}
    %script{:src => "cssgrid/js/css3-mediaqueries.js", :type => "text/javascript"}

  %body

    %script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
    :javascript
      _uacct = "UA-804569-2";
      urchinTracker();  

    .nav
      %ul
        %li
          %a{:href=> "#what_i_do"} What I do?
        %li
          %a{:href=> "#experience"} Experience
        %li
          %a{:href=> "#my_work"} My work 
        %li.last
          %a{:href=> "#contact"} Contact 

    .container.content
      .row.header
        .sixcol
          %img{:src => 'images/main.png'}

        .sixcol.last
          %p
            Hi I am José Carrión a Web Developer who loves minimal cleaning and simple things, basketball and football, fan art and rock music.            

      .row
        .twelvecol.border

      .row
        .twelvecol

          %a{:name => 'what_i_do'}
          %h2 Ok, ok... so, how can you help me?
          %p
            I've been working with 
            %a{:href => 'http://rubyonrails.org', :target => '_blank'} Ruby on Rails 
            for 4 years, a  
            %a{:href=> 'http://www.ruby-lang.org', :target => '_blank'} Ruby 
            Framework to write awesome Web Applications, following the best programming practices and supported for a really cool community of developers around the world.

          %a{:name => 'experience'}
          %h2 You mean you have experience? 
          %p
            Yeah sure, as you know learning process never ends. Since i finished my studies I´ve been working as a Freelance part and full time from house and sometimes i have traveled to work with my colleagues. It allowed me to get to know really nice developers and companies around the world. I´ve learned lot of best ways how to create applications. 

          %p
            I've worked in private projects as well as in public projects for different companies from my country and for other countries such as Chile, Spain and the United States.            

          %a{:name => 'my_work'}
          %h2 Ok, where I can see that you aren't kidding me?
          %p
            Here are the most important profiles you can check

          %p
            %ul.profiles
              %li.linkedin
                %a{:href => 'http://www.linkedin.com/in/joselo', :target => '_blank'} linkedin.com/in/joselo
              %li.github
                %a{:href => 'http://github.com/joselo', :target => '_blank'} github.com/joselo
              %li.twitter
                %a{:href => 'http://www.twitter.com/joselo', :target => '_blank'} twitter.com/joselo

          %a{:name => 'contact'}
          %h2 Tell me, where are you based? 

          %p
            I'm based in South America Ecuador, Eastern Standard Time GMT- 5:00

          %p
            Feel free to contact me: 
            %a{:href=> "mailto:joseloc@gmail.com"} joseloc@gmail.com

          %h2.last That’s it folks, thanks...

    .container.container.footer
      .row
        .twelvecol.border

      .row
        .twelvecol

          %p
            Copyright (c) 2012, José Carrión
